.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #668895;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  &-logo p {
    color: white;
    font-family: 'Pompiere', cursive;
    font-size: 40px;
  }

  &-mail {
    color: white;
    font-size: 20px;
  }

  &-path {
    width: 22%;
    height: auto;
    font-size: 0.8em;
    color: white;

    a {
      text-decoration: none;
      color: white;
    }
  }
  
  .social-icons {
    background-color: white;
    color: #668895;
  }
}

@media screen and (max-width: 700px) {

    .footer {
      display: flex;
      flex-wrap: wrap;

      &-path {
        min-width: 60%;
      }
    }

}