
.heading-curriculum {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  box-sizing: border-box;

  &-photo {
    flex: 1;
    margin-left: 1%;
    
    img {
      border-radius: 50%;
      width: 70%;
      max-width: 350px;
      height: auto;
      min-width: 300px;
    }
  }

  &-description {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    > ul {
      list-style: none;
      width: 70%;

      > li {
        padding: 20px 0px;
        border-top: 2px solid rgba(102, 136, 149,0.4);

        a {
          text-decoration: none;
          color: black;
          font-weight: bold;
        }

        a:hover {
          cursor: pointer;
        }
      }

      > li:last-child {
        border-bottom: 2px solid rgba(102, 136, 149,0.4);
      }
    }

    #list {
      max-height: 0;
      overflow: hidden;
      transition: 0.3s linear;

      > li {
        list-style: none;
        padding: 10px 0px;
      }
    }
    
    a:focus+#list {
      max-height: 15em;
    }

  }
}

@media screen and (max-width: 600px) {
  .heading-curriculum {

    &-photo {
      display: none;
    }

    &-description {
      
      #list {

      }
    }
  }
}