section {
  h2 {
    padding-bottom: 30px;
  }
}

.price-offer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  &-box {
    margin: 20px;

    .price {
      background-color: rgb(102, 136, 149);
      text-align: center;
      border-radius: 40px 10px 0% 0%;
      padding: 30px 0px;

      p {
        color: #f5b553;
        margin-top: 10px;
        font-weight: 700;
      }

      .underline {
        background-repeat: repeat-x;
        padding: 10px 0px;
      }   

      .underline--stars {
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg");
        background-position: 0 1.6em;
        background-size: 100px 20px;
        color: #f2f3f8;
      }
    }

    .plan {
      border: 2px solid rgb(102, 136, 149);
      border-radius: 0% 0% 40px 10px;
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;

      ul {
        margin: 20px 5px;
        list-style: none;
        width: 250px;

        li {
          line-height: 30px;
          overflow: auto;

          :last-child {
            padding-bottom: 30px;
          }
        }

        li[class="available"]::before {
            content: "\2022";
            color: #f5b553;
            font-weight: 900;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
        }

        li[class="notAvailable"]::before {
          content: "\2022";
          color: rgba(102, 136, 149, 0.4);
          font-weight: bold;
          display: inline-block; 
          width: 1em;
          margin-left: -1em;
        }

        li[class="notAvailable"] {
          color: rgba(102, 136, 149, 0.4);
        }
      }      
      
      button { 
        width: fit-content;
        padding: 10px 40px;
        border: 2px solid #f5b553;
        text-align: center;
        border-radius: 25px 0%;
        font-size: 14px;
        cursor: pointer;
        margin-bottom: 15px;
        outline: none;
      } 

      button:hover {
        background-color: #f5b553;
        color: white;

      }  
    
    }
    
    
  }
}
