$primary-orange: #f5b553;
$border-dark: #668895;
$social-icons: rgba(102, 136, 149,0.6);
$button-text: #ffffff;
$primary-text: #313030;
$curriculum-border: rgba(102, 136, 149,0.4);
$price-underline: #f2f3f8;
 